html, body{
    font-family: 'Outfit', sans-serif;
    color: $dark_grey;
}

ul{
    font-weight: 400;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

h1,h2{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 3rem;
    margin: 1.5rem 0;
}
h2{
    font-size: 2.3rem;
    margin: 1.2rem 0;
}
h3{
    color: $brand_purple;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
p{
    font-size: 1rem;
    font-weight: 300;
    color: #6b6c6c;
}

//========
//TEXT FORMATTING ELEMENTS
//========
.section_title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    color: $light_grey;
}

.copybait{
    font-size: 1.1rem;
    font-weight: 600;
    color: $dark_grey;
}

//Quotes format
.quote {
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
}
.quote_info {
  margin-top: 5rem;
  &::before {
    content: url("./assets/img/home-movation-shape-01.png");
    display: block;
  }
  .quote_author {
    font-size: 1.4rem;
    font-weight: 500;
    color: $dark_grey;
    margin: 0.5rem 0;
  }
  .author_team {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: $light_grey;
  }
}

//=======
//UTILITIES
//=======
.primary_color{
    color: $brand_primary;
}
a.btn{
    line-height: .9rem;
    font-size: .9rem;
    font-weight: 600;
    padding: 1rem 3rem;
    margin: 1rem 0;
}
.btn_primary{
    background-color: $brand_primary;
    color: #ffffff;
    &:hover{
        background-color: $brand_purple;
        color: #ffffff;
    }
}

.card{
    border: none;
    .price {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
        span {
        font-size: 1.2rem;
        }
    }
    h3{
        margin-bottom: 0;
    }
    .card-title, .card-text {
      margin: 1rem 2.5rem;
    }
    .card-text{
        color: $light_grey;
        margin-bottom: 2rem;
        i {
            font-size: .9rem;
            margin-right: .4rem;
        }
        .lessons,.students{
            margin-right: 1.5rem;

        }
    }
}
