/* ======= PALETTE ======== */
$brand_primary: #26AA94;
$brand_purple: #3F3A64;
$dark_grey: #333333;
$light_grey: #6b6c6c;
$lighter_grey: #8B8B90;
$bg_dark: #171621;
$bg_light: #F7F7FD;
$partners_color: #CFDDDB;

